<!DOCTYPE HTML>
<HTML lang="en">
  <HEAD>
    
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>ΛΛΛ</title>
    <!-- 
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700" media="all">
    -->
    
    <style>
        a {
      color: SkyBlue;
      font-size: 200%;
      text-decoration: underline;
      text-transform: capitalize;
    }
    </style>
    
    <style>
        html {
        display: table;
        margin: auto;
      }

    body {
        display: table-cell;
        vertical-align: middle;
      }
    </style>
    
    <style type="text/css">
      <!--
      .tab { margin-left: 140px; }
      -->
    </style>
    
  </HEAD>
  <BODY style="background-color:black;text-align:center">
    
    <h1 style="color:white;font-size:x-small;">This is a Test of href<a href="/">Home</a></h1>
    
    <div class="content">
      {{ content }}
    </div>
    
    <footer>
      <p style="color:white;font-size:x-small;">This is a Test of Footer</p>
         
      <!--<div class="container">
        <p style="color:white;font-size:x-small;"made by emirus, aka domidas</p>
      </div>
      -->
    </footer>
    
  </BODY>
</HTML>
